DrissionPage==4.1.1.4
psycopg2-binary==2.9.12
python-dotenv==1.2.2
schedule==1.2.2
fastapi==0.111.0
uvicorn==0.30.1
requests==2.32.3
playwright>=1.40.0
playwright-stealth>=1.0.6
gunicorn==22.0.0
beautifulsoup4==4.12.3
SQLAlchemy==2.0.31
alembic==1.13.2
